@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box; }

html {
  font-size: 22px; }

body {
  margin: 0;
  background-color: #181f2a;
  color: white;
  font-family: 'Open Sans', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif; }

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 54rem;
  background: url(../images/bg-curvy-desktop.svg);
  background-attachment: local;
  background-color: #1c2431;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain; }
  @media (max-width: 720px) {
    .background-image {
      height: 27rem; } }

header {
  align-content: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem; }
  @media (max-width: 720px) {
    header {
      padding: 1.4rem 1.25rem; } }
  header .header__logo {
    max-width: 7rem;
    min-width: 4.5rem;
    width: 25%; }
    header .header__logo img {
      width: 100%;
      height: auto; }
  header .header__menu {
    display: flex;
    margin: 0;
    list-style: none; }
    header .header__menu li {
      margin: 0 0.3em; }
      header .header__menu li a {
        color: white;
        font-family: 'Raleway', sans-serif;
        font-size: 0.7em;
        font-weight: 300;
        text-decoration: none; }
        @media (max-width: 720px) {
          header .header__menu li a {
            font-size: 0.6em; } }

#hero {
  margin: 0 auto 6rem auto;
  width: 100%; }
  #hero .wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 33.5rem;
    text-align: center; }
  #hero .hero__background {
    margin-top: 1.55rem;
    margin-bottom: 0.7rem;
    width: 100%; }
    @media (max-width: 720px) {
      #hero .hero__background {
        margin-bottom: 1.55rem; } }
    #hero .hero__background img {
      height: auto;
      width: 100%; }
  #hero h1 {
    margin: 0.4rem 0;
    font-size: 1.6em;
    font-weight: 600;
    letter-spacing: 0.0625em;
    line-height: 1.4em; }
  #hero p {
    width: 78%;
    font-size: 0.8em;
    font-weight: 300;
    line-height: 1.5em; }
    @media (max-width: 720px) {
      #hero p {
        width: 90%;
        font-size: 1em; } }
  #hero a {
    border-radius: 99rem;
    padding: 0.8rem 4rem;
    margin: 0.7rem 0;
    background: #43b2d0;
    color: white;
    font-size: 0.6em;
    font-weight: 400;
    text-decoration: none; }
    @media (max-width: 720px) {
      #hero a {
        padding: 1rem;
        width: 100%;
        font-size: 0.9em; } }

#features {
  margin: 0;
  margin-bottom: 3.5rem;
  width: 100%; }
  #features .wrapper {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto auto;
    grid-row-gap: 3rem;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 38rem; }
    @media (max-width: 720px) {
      #features .wrapper {
        display: flex;
        flex-direction: column; } }
  #features .features__text-block {
    text-align: center; }
    @media (max-width: 720px) {
      #features .features__text-block {
        padding: 1rem 1.6rem; } }
    #features .features__text-block .features__text-block__icon {
      height: 3rem;
      width: auto; }
      @media (max-width: 720px) {
        #features .features__text-block .features__text-block__icon {
          height: 4rem;
          width: auto; } }
    #features .features__text-block h2 {
      margin: 0.5em 0;
      font-size: 0.8em;
      letter-spacing: 0.0625; }
      @media (max-width: 720px) {
        #features .features__text-block h2 {
          margin: 1em 0;
          font-size: 1.25em;
          font-weight: 600; } }
    #features .features__text-block p {
      font-size: 0.7em; }
      @media (max-width: 720px) {
        #features .features__text-block p {
          font-size: 1em;
          font-weight: 300; } }

#cta {
  margin: 0;
  margin-bottom: 4.5rem; }
  #cta .wrapper {
    display: grid;
    grid-template-columns: 50% 45%;
    grid-template-rows: auto;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 50rem;
    padding: 2em;
    width: 100%; }
    @media (max-width: 720px) {
      #cta .wrapper {
        display: flex;
        flex-direction: column; } }
  #cta .cta__image img {
    width: 100%; }
  #cta .cta__text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
  #cta h2 {
    margin: 0;
    font-size: 1.6em;
    font-weight: 600;
    letter-spacing: 0.0625em;
    line-height: 1.3em; }
    @media (max-width: 720px) {
      #cta h2 {
        margin: 2em 0 0.4em 0;
        font-size: 1.15em;
        line-height: 1.7em; } }
  #cta p {
    margin: 0.5rem 0; }
  #cta a {
    margin-bottom: -0.2em; }
  #cta p, #cta a {
    font-size: 0.7em;
    font-weight: 300; }
    @media (max-width: 720px) {
      #cta p, #cta a {
        font-size: 1em; } }
  #cta .btn {
    align-items: center;
    display: flex;
    border-bottom: 0.1em solid #62e0d9;
    padding: 0.25em; }
    #cta .btn img {
      height: 0.8em;
      margin: 0 6px -1px 6px;
      width: 0.8rem; }
    #cta .btn a {
      color: #71e0dc;
      text-decoration: none; }

#testimonials {
  margin: 0;
  margin-bottom: 4.5rem; }
  @media (max-width: 720px) {
    #testimonials {
      flex-direction: column;
      margin-bottom: 2em; } }
  #testimonials .wrapper {
    align-items: flex-start;
    display: flex;
    margin: 0 auto;
    max-width: 48rem; }
    @media (max-width: 720px) {
      #testimonials .wrapper {
        flex-direction: column; } }
  #testimonials .testimonials__flair {
    position: absolute;
    z-index: -1;
    margin-top: -1.6em;
    margin-left: 0.7em;
    width: 2.5rem; }
  #testimonials blockquote {
    box-shadow: 0.4rem 0.4rem 0.2rem rgba(255, 255, 255, 0.02);
    flex-basis: 1;
    margin: 0 1em 1em 1em;
    padding: 1em 1.2em;
    background-color: #202a3c; }
    #testimonials blockquote p {
      font-size: 0.6em; }
      @media (max-width: 720px) {
        #testimonials blockquote p {
          font-size: 0.8em; } }
    #testimonials blockquote .footer {
      display: flex;
      align-content: center; }
      #testimonials blockquote .footer .citation {
        margin-left: 0.4em; }
      #testimonials blockquote .footer p {
        margin: 0;
        font-size: 0.4em;
        line-height: 1.1em; }
        @media (max-width: 720px) {
          #testimonials blockquote .footer p {
            font-size: 0.6em; } }
        #testimonials blockquote .footer p:first-child {
          margin-bottom: 0.6em; }
      #testimonials blockquote .footer img {
        border-radius: 50%;
        height: 1em;
        width: 1em; }
      #testimonials blockquote .footer p:first-child {
        font-weight: 700; }

#email-form {
  position: relative;
  width: 100%; }
  #email-form .wrapper {
    box-shadow: 0.4em 0.4em 0.4em rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 2em;
    max-width: 38rem;
    margin: 0 auto;
    background-color: #1c2431;
    text-align: center; }
  #email-form h2 {
    margin: 0;
    font-size: 1.3em;
    font-weight: 500; }
  #email-form p {
    margin: 1em 0 2.5em 0;
    font-size: 0.7em; }
  #email-form form {
    display: flex;
    justify-content: space-between;
    margin: 0; }
    @media (max-width: 720px) {
      #email-form form {
        flex-direction: column; } }
    #email-form form input[type="email"] {
      border: none;
      border-radius: 99em;
      padding: 2em 3em;
      margin: 1em 0;
      width: 65%; }
      @media (max-width: 720px) {
        #email-form form input[type="email"] {
          width: 100%; } }
      #email-form form input[type="email"]::placeholder {
        color: #afafaf;
        font-size: 1.4em; }
    #email-form form button {
      border: none;
      border-radius: 99em;
      margin: 1em 0;
      padding: 1em;
      width: 30%;
      font-size: 0.6em;
      background-color: #43b2d0;
      color: white; }
      @media (max-width: 720px) {
        #email-form form button {
          font-size: 0.8em; } }
      @media (max-width: 720px) {
        #email-form form button {
          width: 100%; } }

footer {
  z-index: 0;
  margin-top: -7rem;
  padding: 7rem 2rem 5rem 2rem;
  background-color: #0b1523; }
  footer .wrapper {
    margin: auto;
    max-width: 58rem;
    font-size: 0.7em; }
  footer .footer__logo {
    margin: 3em 0; }
  footer .footer__links {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 720px) {
      footer .footer__links {
        flex-direction: column; } }
    footer .footer__links ul {
      list-style: none;
      margin: 0; }
    footer .footer__links a {
      margin-top: 0;
      overflow: hidden;
      color: white;
      text-decoration: none; }
    footer .footer__links__column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 2em;
      max-width: 100%; }
      footer .footer__links__column div > a {
        content: " "; }
      footer .footer__links__column img {
        float: left;
        margin-right: 2em; }
      footer .footer__links__column p {
        overflow: hidden;
        margin: 0; }
      footer .footer__links__column__link-icon {
        align-items: center;
        display: flex;
        justify-content: center; }
      footer .footer__links__column ul {
        margin: 0;
        padding: 0; }
      footer .footer__links__column a {
        line-height: 3em;
        margin-right: 0.5em; }
      footer .footer__links__column:first-child {
        width: 16rem; }
      footer .footer__links__column:nth-child(2) {
        width: 10rem; }
      footer .footer__links__column:nth-child(3), footer .footer__links__column:nth-child(4) {
        width: 6rem; }
      footer .footer__links__column:last-child {
        width: 5.5rem; }
